<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>

<% if @trainer == current_trainer %>
    <%= button_to "Create Pokemon!", pokemons_new_path, :class => "button medium", :method => :get %>
<% end %>

<p> Pokemon:
  <% @trainer.pokemons.each do |trainer_pokemon| %>
      <p><%= trainer_pokemon.name %>
      <%= trainer_pokemon.health %>
      <%= button_to "Damage!", damage_path(id: trainer_pokemon), :class => "button medium", :method => :patch %>

      </p>
  <% end %>
</p>
